{% extends "base.html" %}
{% block content %}
<main>
  <section class="container my-5 px-4">
    <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
    <p class="text-center my-4">
      Create short link automatically or suggest your option
    </p>
    <div id="fallingLinks"></div>
    <div class="container">
      <div class="row my-3">
        <div class="col-sm">
        </div>
        <div class="col-sm">
          <form id="link_form" method="POST" onsubmit="submitForm(event)" novalidate>
            {{ form.csrf_token }}
            {{ form.original_link(class="form-control form-control-lg py-2 mb-3", placeholder=form.original_link.label.text) }}
            <p>
              {% if form.original_link.errors %}
                {% for error in form.original_link.errors %}
                  <span style="color: red">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </p>
            {{ form.custom_id(class="form-control form-control-lg py-2 mb-3", placeholder=form.custom_id.label.text, rows="3", cols="40")}}
            <p>
              {% if form.custom_id.errors %}
                {% for error in form.custom_id.errors %}
                  <span style="color: red">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </p>
            {{ form.submit(class="btn btn-primary") }}
          </form>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row ">
        <div class="col-sm">
        </div>
        <div class="col-sm">
          <div class="text-center">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                {{ message }}
                {% endfor %}
              {% endif %}
            {% endwith %}
            <div class="text-center" id="link_container" style="display: none;">
              <h5 class="text-center">New link is ready:</h5>
              <a href="#" id="new_link"></a>
            </div>
          </div>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>
  </section>
</main>
{%endblock%}